<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="./css/reset.css">
  <link rel="stylesheet" href="./css/styles.css">
  <title>Document</title>
  <link rel="icon" type="image/x-icon" href="img/logo.jpeg">
</head>
<body>
  <div class="nav-bar-container">
    <div class=logo-container>
      <img class="logo" src="img/logo.jpeg" alt="logo-artist">
    </div>
    <nav class=nav-container>
      <ul>
        <li><a href="/">Home</a></li>
        <li><a href="/about">About</a></li>
        <li><a href="/works">Work</a></li>
        <li><a href="/photo-gallery">Photo Gallery</a></li>
      </ul>
    </nav>
  </div>
  <main class = "photo-description-container">
    <div class="img-container">
      <img src="img/img13.jpg" alt="">
    </div>
    <div class = description-container>
      <h2>MO EID</h2>
      <p>Mo (aka Mohammad) is a Multidisciplinary Designer with an unhealthy obsession with anything tech, design. <br> Currently
      based in Dubai where he is crafting pixels at Hogarth Worldwide for a really cool client. <br> Over the past 15 years he has
      worked on a diverse range of clients and projects across multiple disciplines which resulted in him wearing different
      hats and develop versatile skills across digital design, code, motion. <br> He help brands 
      and businesses build useful products, maximize reach and create meaningful experiences through digital design, code, and motion. <br> His talent and career are reflected in his meticulous and precise work, where minimalism, pastel tones and unmatched
      originality prevail.</p>
      <p><span class="bold">FOCUS IN:</span> Art direction. Visual design. User Interface Design. Prototyping. Wireframing. Motion desgin. Web Design. 
      Interactive Design. Game design. Illustration </p>
      <p><span class="bold">FIND HIM</span></p>
      <div class = "XXSS-logos">
        <a href="https://www.instagram.com/mo.motorious/"><img src="img/instagram (1).png" alt="magnifying glass icon" /></a>
        <a href="https://twitter.com/mo_motorious"><img src="img/gorjeo.png" alt="magnifying glass icon" /></a>
        <a href="https://www.behance.net/Mo-Eid*/"><img src="img/behance.png" alt="magnifying glass icon" /></a> 
      </div>
    </div>
  </main>
  
</body>
</html>