  <header class="header">
    <div class="header-photo">
      <div class = "title">
        <div>
          <a href="/about"><h1> <span class="little">&#10095;</span> MO EID </h1></a>
          <h3>Multidisciplinary Designer</h3>
        </div>
      </div>
    </div>
    <div class="XXSS-logos-home">
      <a href="https://www.instagram.com/mo.motorious/"><img src="img/instagram (3).png" alt="instagram icon" /></a>
      <a href="https://twitter.com/mo_motorious"><img src="img/twitter-circle.png" alt="twitter icon" /></a>
      <a href="https://www.behance.net/Mo-Eid*/"><img src="img/behance (2).png" alt="behance icon" /></a>
    </div>
  </header>
