<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="./css/reset.css">
  <link rel="stylesheet" href="./css/styles.css">
  <title>Document</title>
  <link rel="icon" type="image/x-icon" href="img/logo.jpeg">
</head>
<body>
  <div class="nav-bar-container">
    <div class=logo-container>
      <img class="logo" src="img/logo.jpeg" alt="logo-artist">
    </div>
    <nav class=nav-container>
      <ul>
        <li><a href="/">Home</a></li>
        <li><a href="/about">About</a></li>
        <li><a href="/works">Work</a></li>
        <li><a href="/photo-gallery">Photo Gallery</a></li>
      </ul>
    </nav>
  </div>
  <div class = "work-container">
      <div class="container-img">
        <img src="img/img11.jpg" alt="cloud and swimming pool photo" class="image">
        <div class="overlay">
          <div class="text">Pinkscape Nº05</div>
          <div class="text2">Pinkscape was born at the height of the pandemic when much of the world was locked down.</div>
        </div>
    </div>
    <div class="container-img">
        <img src="img/img9.jpg" alt="cloud and swimming pool photo" class="image">
        <div class="overlay">
          <div class="text">Pinkscape Nº17</div>
          <div class="text2">In this series, he wanted to create an alternate reality, a place for the wandering mind to roam free at a time when
          movement was heavily restricted.</div>
        </div>
    </div>
    <div class="container-img">
      <img src="img/img7.jpg" alt="cloud and swimming pool photo" class="image">
      <div class="overlay">
        <div class="text">Pinkscape Nº02</div>
        <div class="text2">The tranquil landscapes and dreamy locations offer an escapism during uncertain times.</div>
      </div>
    </div>
    <div class="container-img">
      <img src="img/img5.jpg" alt="cloud and swimming pool photo" class="image">
      <div class="overlay">
        <div class="text">Pinkscape Nº11</div>
        <div class="text2">As we entered lockdown and venturing out became almost impossible. </div>
      </div>
    </div>
    <div class="container-img">
      <img src="img/img4.jpg" alt="cloud and swimming pool photo" class="image">
      <div class="overlay">
        <div class="text">Pinkscape Nº03</div>
        <div class="text2">He started this series and attempted to create soothing visuals and an alternative realm for the viewer to explore.</div>
      </div>
    </div>
    <div class="container-img">
      <img src="img/img6.jpg" alt="cloud and swimming pool photo" class="image">
      <div class="overlay">
        <div class="text">Pinkscape Nº15</div>
        <div class="text2"> Also he create Pinkscape for him, to cope with the uncertainty of 2020.</div>
      </div>
    </div>
  </div>
  
</body>
</html>