<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="./css/reset.css">
  <link rel="stylesheet" href="./css/styles.css">
  <title>Document</title>
  <link rel="icon" type="image/x-icon" href="img/logo.jpeg">
</head>
<body>
  <div class="nav-bar-container">
    <div class=logo-container>
      <img class="logo" src="img/logo.jpeg" alt="logo-artist">
    </div>
    <nav class=nav-container>
      <ul>
        <li><a href="/">Home</a></li>
        <li><a href="/about">About</a></li>
        <li><a href="/works">Work</a></li>
        <li><a href="/photo-gallery">Photo Gallery</a></li>
      </ul>
    </nav>
  </div>
  <div class = "work-container">
    <div class = work-1-container>
       <h1> Work 1</h1>
      <div class="container">
        <img src="img/img11.jpg" alt="cloud and swimming pool photo" class="image">
        <div class="overlay">
          <div class="text">Hello World</div>
        </div>
      </div>
    </div>
    <div class=work-2-container>
      <h1> Work 2</h1>
    </div>
  </div>
  
</body>
</html>