@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

/*---------------GENERAL--------------------*/
*{
  box-sizing: border-box;
}

 html, body {
  height: fit-content;
  min-height: 100vh;
  max-width: 100wv;
  box-sizing: border-box;
  font-family: 'Raleway', sans-serif;
  font-size: 16px;
  background: linear-gradient(0deg, rgba(141, 112, 160, 1) 0%, rgba(201, 189, 209, 1) 0%, rgba(220, 214, 225, 1) 0%, rgba(245, 245, 245, 1) 43%);
}

h1 {
  font-size: 5rem;
  font-weight: 500;
}

h2 {
  font-size: 4rem;
  font-weight: 400;
}

h3 {
  font-size: 2.3rem;
  font-weight: 300;
}

p{
  line-height: 1.2rem;
  font-size: 1rem ;
  font-weight: 300;
}

.bold {
  font-weight: 600;
}

strong {
  font-weight: 400;
}

/*---------------NAV BAR ALL PAGES--------------------*/
.nav-bar-container{
display: flex;
justify-content: space-between;
align-items: center;
background-color: rgba(245, 245, 245, 1);
padding: 1rem 0;
position: sticky;
}

.nav-bar-container .logo-container {
  padding-left: 2rem;
}

.logo {
  width: 50px;
  border-radius:50%;
}

.nav-bar-container .nav-container ul{
  display: flex;
  gap: 1rem;
 padding-right: 2rem;
}

.nav-bar-container .nav-container ul li a{
  text-decoration: none;
  color: #1D1D1D;
  text-transform: uppercase;
}

.nav-bar-container .nav-container ul li a:hover {
  color: #CD7A72;
  font-weight: 700;
}

/*---------------INDEX.HTML--------------------*/
header.header{
background-image: url("../img/img1.jpg");
background-size: cover;
}

.header .header-photo {
  height: 100vh;
  display: flex;
  justify-content: flex-end;
}

.header .header-photo .title {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.header .header-photo .title div {
  background-color: rgba(245, 245, 245, 1);
  height: 10rem;
  width: 33rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-end;
}

.header .header-photo .title a {
  text-decoration: none;  
}

.header .header-photo .title h1, h3 {
  color: #48348D;
  margin-right: 2rem;
}

.header .header-photo .title h1:hover{
  color:#CD7A72;
}
.little {
  font-weight: 200;
  font-size: 2.5rem;
}

/*.header .header-photo .title button{
  border: 1px solid #502F5A;
  color:#502F5A;
  margin: 0.8rem 2rem 0 0;
  padding: 0.5rem 6.5rem;
  font-family: 'Raleway', sans-serif;
  font-weight: 600;
}*/

.XXSS-logos-home {
  display: flex;
  gap: 1.4rem;
  padding: 0 0 2rem 2rem;
}
.XXSS-logos-home img{
  width: 2.3rem;
}
.XXSS-logos-home img:hover{
  filter: invert(46%) sepia(18%) saturate(1083%) hue-rotate(220deg) brightness(100%) contrast(70%);}

/*---------------ABOUT.HTML--------------------*/

.photo-description-container {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 2rem;
  padding-bottom: 2rem;
  min-height: 100vh;
}

.photo-description-container .img-container img{
 width: 30rem;
 transition: 0.5s;
}

.photo-description-container .img-container img:hover{
  width: 31rem;
}

.photo-description-container .description-container {
  width: 25rem;
}

.photo-description-container .description-container h2 {
  margin-bottom: 1.7rem;
  color: #8D70A0;
}

.photo-description-container .description-container h2:hover{
  margin-bottom: 1.7rem;
  color: #CD7A72;
  font-weight: 400;
}

.photo-description-container .description-container p {
  margin-bottom: 1.7rem;
}

.photo-description-container .description-container .XXSS-logos{
  display: flex;
  gap: 1rem;
}

.photo-description-container .description-container .XXSS-logos img{
  width: 2rem;
}

.photo-description-container .description-container .XXSS-logos img:hover {
  width: 2.2rem;
  filter: invert(46%) sepia(18%) saturate(1083%) hue-rotate(220deg) brightness(100%) contrast(70%);
}

/*---------------WORK.HTML--------------------*/

.work-container {
  display: flex;
  justify-content: center;
  flex-direction: row;
  flex-wrap: wrap;
  min-height: 100vh;
  min-width: 100vw;
  padding: 1rem 1rem 2rem 1rem;
}

.container-img {
  position: relative;
  width: 30%;
}

.image {
  width: 100%;
  height: 100%;
}

.overlay {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  height: 100%;
  width: 100%;
  opacity: 0;
  transition: .5s ease;
  background-color:#8D70A0;
}

.container-img:hover .overlay {
  opacity: 1;
}

.text {
  color: white;
  font-size: 1.8rem;
  position: absolute;
  top: 40%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  text-align: center;
}
.text2{
  color: white;
    font-size: 1.1rem;
    position: absolute;
    top: 65%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    text-align: center;
}

/*-------------PHOTOGALLERY----------------*/

.photo-gallery-container {
  min-height: 100vh;
  margin: 3rem 0 2rem 0;
}

/* Slideshow container */
.slideshow-container {
  max-width: 80rem;
  position: relative;
  margin: auto;
}

/* Hide the images by default */
.mySlides {
  display: none;
}

.mySlides img{
  width: 100%;
}

/* Next & previous buttons */
.prev,
.next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  margin-top: -22px;
  padding: 16px;
  color: white;
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
}

/* Position the "next button" to the right */
.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover,
.next:hover {
  background-color:#8D70A0;
}

/* Number text (1/3 etc) */
.numbertext {
  color: #f2f2f2;
  font-size: 12px;
  padding: 8px 12px;
  position: absolute;
  top: 0;
}

/* The dots/bullets/indicators */
.dot {
  cursor: pointer;
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}

.active,
.dot:hover {
  background-color: #8D70A0;
}

/* Fading animation */
.fade {
  animation-name: fade;
  animation-duration: 1.5s;
}

@keyframes fade {
  from {
    opacity: .4
  }

  to {
    opacity: 1
  }
}

/*----------------PAGE TITLE------------------*/

.page-title {
  display: flex;
  justify-content: center;
  margin: 2rem 0;
}

.page-title h3:hover {
  color: #CD7A72;
}

/*--------------SIMILAR ARTISTS PAGE-------------*/
.similar-artists-container{
 min-width: 100vw;
 min-height: 100vh;
 padding-bottom: 4rem;
}

.card {
  width: 100vw;
  display: flex;
  flex-direction: row;
  justify-content: center;
  flex-wrap: wrap;
}

.cards{
  display: flex;
  flex-direction: column;
  text-align: center;
  margin-top: 2rem;

}

.img-similar-artist {
  height: 20rem;
  object-fit: contain;
  margin-bottom: 1rem;
  transition: 0.5s;
}

.img-similar-artist:hover {
  height: 20.3rem;
}

.cards h4:hover {
  color: #8D70A0;
}


