@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

/*---------------GENERAL--------------------*/
html {
  background: #f9f5f2;
  background: linear-gradient(180deg, rgba(249, 245, 242, 1) 51%, rgba(245, 245, 245, 1) 94%);
}

body {
  box-sizing: border-box;
  font-family: 'Raleway', sans-serif;
  font-size: 16px;
  width: 100vw;
  height: 100vh;
}

h1 {
  font-size: 5rem;
  font-weight: 500;
}

h2 {
  font-size: 4rem;
  font-weight: 400;
}

h3 {
  font-size: 2.3rem;
  font-weight: 300;
}

p{
  line-height: 1.2rem;
  font-size: 1rem ;
  font-weight: 300;
}

.bold {
  font-weight: 600;
}

/*---------------NAV BAR ALL PAGES--------------------*/
.nav-bar-container{
display: flex;
justify-content: space-between;
align-items: center;
background-color: #f9f5f2;
padding: 1rem 0;
}

.nav-bar-container .logo-container {
  padding-left: 2rem;
}

.logo {
  width: 50px;
  border-radius:50%;
}

.nav-bar-container .nav-container ul{
  display: flex;
  gap: 1rem;
 padding-right: 2rem;
}

.nav-bar-container .nav-container ul li a{
  text-decoration: none;
  color: #1D1D1D;
  text-transform: uppercase;
}

.nav-bar-container .nav-container ul li a:hover {
  color: #CD7A72;
  font-weight: 700;
}

/*---------------INDEX.HTML--------------------*/
header.header{
background-image: url("../img/img1.jpg");
background-size: cover;
}
.header .header-photo {
  min-height: 100vh;
  display: flex;
  justify-content: flex-end;
}

.header .header-photo .title {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.header .header-photo .title div {
  background-color: #f9f5f2;
  height: 10rem;
  width: 33rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-end;
}

.header .header-photo .title a {
  text-decoration: none;  
}

.header .header-photo .title h1, h3 {
  color: #502F5A;
  margin-right: 2rem;
}

.header .header-photo .title h1:hover{
  color:#CD7A72;
}
.little {
  font-weight: 200;
  font-size: 2.5rem;
}

/*.header .header-photo .title button{
  border: 1px solid #502F5A;
  color:#502F5A;
  margin: 0.8rem 2rem 0 0;
  padding: 0.5rem 6.5rem;
  font-family: 'Raleway', sans-serif;
  font-weight: 600;
}*/

.XXSS-logos-home {
  display: flex;
  gap: 1.4rem;
  padding: 0 0 2rem 2rem;
}
.XXSS-logos-home img{
  width: 2.3rem;
}

/*---------------ABOUT.HTML--------------------*/

.photo-description-container {
  display: flex;
  justify-content: center;
  margin-top: 4rem;
  gap: 2rem;
  padding-bottom: 4rem;
}

.photo-description-container .img-container img{
 width: 30rem;
 transition: 0.5s;
 
}
.photo-description-container .img-container img:hover{
  width: 31rem;
  /*box-shadow: 0px 0px 10px rgb(66, 1, 61);*/ 
}

.photo-description-container .description-container {
  width: 25rem;
}

.photo-description-container .description-container h2 {
  margin-bottom: 1.7rem;
  transition: 0.5s;
}
.photo-description-container .description-container h2:hover{
  margin-bottom: 1.7rem;
  color: #CD7A72;
  font-weight: 400;
}


.photo-description-container .description-container p {
  margin-bottom: 1.7rem;
}

.photo-description-container .description-container .XXSS-logos{
  display: flex;
  gap: 1rem;
}

.photo-description-container .description-container .XXSS-logos img{
  width: 2rem;
}

/*---------------WORK.HTML--------------------*/

.container {
  position: relative;
  width: 50%;
}

.image {
  display: block;
  width: 100%;
  height: auto;
}

.overlay {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  height: 100%;
  width: 100%;
  opacity: 0;
  transition: .5s ease;
  background-color: #008CBA;
}

.container:hover .overlay {
  opacity: 1;
}

.text {
  color: white;
  font-size: 20px;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  text-align: center;
}